@charset "UTF-8";
html {overflow-x: auto !important;}
html,body{min-width:1400px; margin:0 auto; text-align:center;}
.v-application--wrap {min-height: inherit !important;}


/** @Ncomz amb_layout_01  V 1.2.1 | @Ncomz Design -  @mo @joo **/

.txtCenter {text-align:center !important;}
.txtRight  {text-align:right !important;}
.txtLeft   {text-align:left !important;}
.hiddenTxt {display: inline-block; width: 0;height: 0;overflow: hidden;}

/* fixed margin */
.mgT0   {margin-top:0px !important;}
.mgT5   {margin-top:5px !important;}
.mgT10  {margin-top:10px !important;}
.mgT20  {margin-top:20px !important;}

/* button */
.btn{border-radius:2px; border:1px solid transparent; background:none; padding:0 20px; }
.btn .text{display:inline-block;}
.btn:hover > .text,
.btn:focus > .text{animation:btnHover-sliderTop 0.2s ease-out 0s 1 alternate;}
@keyframes btnHover-sliderTop {
    0% {opacity:0.5; transform: translateY(-20%);}
    90% {opacity:1.0; transform: translateY(0px);}
}
.btn.xs{height:30px; line-height:28px; min-width:70px; font-size:14px;}
.btn.s{height:32px; line-height:30px;}
.btn.m{height:40px; line-height:38px; min-width:80px; font-size:16px;}
.btn.l{height:50px; line-height:48px; font-size:17px;}
.btn.xl{height:60px; line-height:58px; font-size:20px;}

.btn.iconOnly{position:relative; text-align:center; padding:0;}
.btn.iconOnly .text{font-size:0;}
.btn.iconOnly:before{content:""; display:block; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); }
.btn.xs.iconOnly{width:30px;}
.btn.s.iconOnly{width:32px;}
.btn.m.iconOnly{width:40px;}
.btn.l.iconOnly{width:50px;}
.btn.xl.iconOnly{width:60px;}

.btn.xs.round{border-radius:15px;}
.btn.s.round{border-radius:16px;}
.btn.m.round{border-radius:20px;}
.btn.l.round{border-radius:25px;}
.btn.xl.round{border-radius:30px;}

.btn.greenGray{color:#ffffff; border-color:#667d85; background-color:#667d85;}
.btn.greenGray:hover{color:#ffffff; border-color:#48656d; background-color:#48656d;}
.btn.whiteGreen{color:#0c323d; border-color:#a7c1bc; background-color:#ffffff;}
.btn.whiteGreen:hover{color:#2cbbb7; border-color:#2cbbb7; background-color:#ffffff;}
.btn.grayWhite{color:#48656d; border-color:#e8ebf0; background-color:#e8ebf0;}
.btn.grayWhite:hover{color:#48656d; border-color:#8d9aaa; background:#ffffff;}
.btn.grayDark{color:#ffffff; border-color:#8d9aaa; background-color:#8d9aaa;}
.btn.grayDark:hover{color:#ffffff; border-color:#5a6674; background-color:#5a6674;}
.btn.grayBlue{color:#0c323d; border-color:#f3f3f3; background-color:#f3f3f3;}
.btn.grayBlue:hover{color:#ffffff; border-color:#397fd4; background-color:#397fd4;}
.btn.blue{color:#ffffff; border-color:#397fd4; background-color:#397fd4;}
.btn.blue:hover{color:#ffffff; border-color:#2e66aa; background-color:#2e66aa;}
.btn.aqua{color:#ffffff; border-color:#499ed5; background-color:#499ed5;}
.btn.aqua:hover{color:#ffffff; border-color:#3a7eaa; background-color:#3a7eaa;}
.btn.green{color:#ffffff; border-color:#2cbbb7; background-color:#2cbbb7;}
.btn.green:hover{color:#ffffff; border-color:#239692; background-color:#239692;}
.btn.grayGreen{ color:#0c323d; border-color:#e1eaea; background-color:#e1eaea;}
.btn.grayGreen:hover{color:#0c323d; border-color:#b4bbbb; background-color:#b4bbbb;}

.iconOnly.search:before{width:25px; height:25px; background:url(../assets/images/ico_search.png) no-repeat 0 0;}
.iconOnly.refresh:before{width:24px; height:26px; background:url(../assets/images/ico_refresh.png) no-repeat 0 0;}

/* checkbox, radio input */
.inpField{display:inline-block; vertical-align:middle; min-width:20px; min-height:20px; position:relative; line-height:20px;}
.inpField > input[type=checkbox],
.inpField > input[type=radio]{display:none;}
.inpField.inpOnly .text{font-size:0; padding:0;}
.inpField .text{display:block; min-height:20px; padding-left:27px;}
.inpField .text:before{content:""; display:inline-block; vertical-align:middle; width:20px; height:20px; position:absolute; left:0; background:url(../assets/images/ico_inpField.png) no-repeat 0 0;}
.inpField > input[type=radio] ~ .text:before{background-position-x:-21px;}
.inpField > input[type=checkbox]:checked ~ .text:before,
.inpField > input[type=radio]:checked ~ .text:before{background-position-y:-21px;}
.inpField > input[type=checkbox]:disabled ~ .text:before,
.inpField > input[type=radio]:disabled ~ .text:before{background-position-y:-42px;}
.inpField > input[type=checkbox]:checked:disabled ~ .text:before,
.inpField > input[type=radio]:checked:disabled ~ .text:before{background-position-y:-63px;}

input.inp{height:40px; line-height:38px; border:1px solid #dddddd; border-radius:2px; padding:0 13px; font-size:15px; color:#0c323d;}
input.inp.xs{height:30px; line-height:28px;}
input.inp.s{height:32px; line-height:30px;}
input.inp.m{height:40px; line-height:38px;}
input.inp.l{height:50px; line-height:48px;}
input.inp.xl{height:60px; line-height:58px;}
select::-ms-expand {display:none;}
select{-webkit-appearance: none;-moz-appearance: none;}
select.inp{height:40px; line-height:38px; border:1px solid #dddddd; border-radius:2px; padding:0 44px 0 13px; font-size:15px; color:#0c323d; background:url(../assets/images/ico_select.png) no-repeat center right 17px;}
textarea.inp{width:100%; border:1px solid #dddddd; border-radius:2px; min-height:80px; font-size:15px; line-height:20px; color:#0c323d; padding:8px 14px; resize: none}
.inp::-webkit-input-placeholder {color:#a0b0b6;}
.inp:focus{border-color:#2cbbb7;}
.inp:disabled{background-color:#f4f4f4; color:#a0b0b6;}

/* table */
table{width:100%;}
* + .listTable,
* + .rowTable{margin-top:10px;}

.listTable{border-width:1px 0 1px 0; border-style:solid; border-color:#85989e transparent #eeeeee transparent; text-align:center;}
.listTable thead th{font-size:17px; font-weight:400; color:#0c323d; height:60px; border-bottom:1px solid #a3acaf; padding:10px 5px; }
.listTable tbody tr > *{border-top:1px solid #eeeeee; height:50px; font-size:15px; color:#48656d; padding:5px;}
.listTable tbody tr:hover > *{background-color:#f4f4f4;}

.rowTable{border-width:1px 0px 0px 0px; border-style:solid; border-color:#85989e transparent transparent transparent; text-align:left;}
.rowTable th{height:53px; border-bottom:1px solid #eeeeee; background-color:#f3f3f3; padding:6px 20px; font-size:16px; color:#0c323d; font-weight:400;}
.rowTable td{height:53px; border-bottom:1px solid #eeeeee; background-color:#ffffff; padding:6px 15px; font-size:15px; color:#0c323d;}

.bullet{font-size:16px; font-weight:700; color:#e01533; margin-left:2px;}
.rowTable td .inpField + .inpField{margin-left:105px;}
.rowTable td .inp{min-width:339px;}

/* ico_paging */
.pagingWrap{overflow:hidden; margin-top:20px;}
.paging{display:flex; justify-content:center; align-items:center;}
.paging > li a{display:block; width:18px; height:18px; line-height:18px; font-size:16px; color:#a0b0b6; font-weight:400;}
.paging > li.active a{color:#0c323d; font-weight:700;}
.paging > li + li{margin-left:2px;}
.paging > li:first-child{margin-right:15px;}
.paging > li:last-child{margin-left:15px;}
.paging button{width:32px; height:32px; border:1px solid #dddddd; border-radius:2px; text-align:center; position:relative; background:#ffffff;}
.paging button:before{content:""; display:block; width:9px; height:14px; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
.paging .prev button:before{background:url(../assets/images/ico_paging.png) no-repeat 0 0;}
.paging .next button:before{background:url(../assets/images/ico_paging.png) no-repeat -9px 0;}

/* layer */
.layerModalWrap{position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0 0 0 / 60%); z-index: 9999;}
.layerModal{width:620px; background-color:#ffffff; padding:50px 70px; max-height:calc(100% - 20px); overflow-y:auto; border-radius:4px; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); box-shadow:0 10px 10px rgb(0 0 0 / 20%); animation:ani_popupZoom 0.3s ease-out 0s 1 alternate;}
.modalHeader{display:flex; justify-content:space-between; align-items:center; text-align:left;}
.modalHeader strong{font-weight:700; color:#0c323d; font-size:26px; line-height:44px;}
.modalCnt{margin-top:20px;}
.modalFooter{margin-top:40px;}
.modalFooter .btnArea{display:flex; justify-content:center;}
.modalFooter .btnArea button{width:calc(50% - 4px);}
.modalFooter .btnArea button + button{margin-left:8px;}

@keyframes ani_popupZoom {
    0% {transform:translate(calc(-50% + 0px), calc(-50% + 0px)) scale(0);}
    100% {transform:translate(calc(-50% + 0px), calc(-50% + 0px)) scale(1.0);}
}

/****************************** common ui ******************************/

/******* header *******/
#header {position: absolute;top: 0px;left: 0px;width: 100%;z-index: 100;}
#header::before {content: '';position: absolute;top: 90px;left: 0px;width: 100%;height: 1px;background: #efefef;box-shadow: 0px 4px 10px 1px rgb(0 0 0 / 10%);-webkit-box-shadow: 0px 4px 10px 1px rgb(0 0 0 / 10%);-moz-box-shadow: 0px 4px 10px 1px rgb(0 0 0 / 10%);}
#header .subMenuBg {position: absolute;overflow: hidden;top: 90px;left: 0px;width: 100%;height: 0px;background: #ffffff;z-index: -1;}
#header .subMenuBg.show {height: calc(100% - 90px);overflow: visible;}
#header .headerWrap {position: relative;width: 1400px;margin: 0 auto;}
.headerWrap .logo {position: absolute;top:32px;left: 40px;}
.headerWrap .loginJoinWrap {position: absolute;top: 23px;right: 40px; display: flex;align-items: center;}
.headerWrap .loginJoinWrap .userName {display: inline-block;margin-right: 8px;line-height: 20px;font-size: 15px;color: #667d85;}
.headerWrap .loginJoinWrap .subUserInfoBtn {display: inline-block;width: 24px;height: 24px;background: url("../assets/images/arr_down_icon.png") no-repeat center;}
.headerWrap .loginJoinWrap .userIcon {display: inline-block;width: 45px;height: 45px;margin-left: 10px;background: #ccc;}

/* gnb */
#gnb {margin: 0px 176px 0px 292px;}
#gnb ul {padding: 0px;margin: 0px;}
#gnb .gnbWrap {display: flex;}
#gnb .gnbWrap .gnbList {position: relative; width: 20%;}
#gnb .gnbWrap .gnbList > .gnbLink {display: inline-block;width: 100%;padding:30px 0px;line-height: 30px;font-size: 19px;color: #0c323d;font-weight: 500;text-align: left;}
#gnb .gnbWrap .gnbList .subGnbWrap {display: none;width: 100%;padding: 20px 0px 30px;}
#gnb:hover .gnbWrap .gnbList .subGnbWrap {display: block;}
#gnb .gnbWrap .gnbList .subGnbWrap .subGnbListLink {display: inline-block;width: 100%;line-height: 30px;font-size: 15px;color: #667d85;text-align: left;}

.footer{border-top:1px solid #dddddd;}
.footer .footerConTopWrap {border-bottom:1px solid #dddddd;}
.footer .footerConTop {display: flex;align-items: center;justify-content: space-between;width: 1400px;margin: 0 auto;padding: 20px 40px;}
.footer .footerSubCon ul,
.footer .footerOtherCon ul {display: flex;padding: 0;}
.footer .footerSubCon ul li {position: relative;padding-right: 84px;}
.footer .footerSubCon ul li:after {content: '';display: block;position: absolute;top: 13px;right: 40px;width: 2px;height: 15px;background: #dddddd;}
.footer .footerSubCon ul li:last-child::after {display: none;}
.footer .footerSubCon ul li a {display: inline-block;line-height: 40px;font-size: 18px;color: #0c323d;}
.footer .footerOtherCon ul li + li {margin-left: 40px;}
.footer .footerOtherCon ul li a {line-height: 40px;font-size: 16px;opacity: 0.5;color: #0c323d;}
.footer .footerConBotWrap {padding: 60px 0px;}
.footer .footerConBot {display: flex;justify-content: space-between;width: 1400px;margin: 0px auto;padding: 0px 40px;}
.footer .footerConBot .incTxt {opacity: 0.5;font-size: 18px;color: #0c323d;}



.contentContainer{min-height:calc(100vh - 240px);padding-top: 90px;}
.contentContainer .rowBox{overflow:hidden;}
.contentContainer .rowBox + .rowBox{border-top:1px solid #dddddd;}
.contentContainer .rowBox .unitBox{width:1320px; margin:0 auto;}