/* charBox */
.chartBox {border: 1px solid #dddddd;}

.plusCon {display: flex;}
.plusCon .customSelectWrap + .btnArea {margin-left: 5px;}

.searchArea {padding: 0px 170px;}
.searchArea input.customInp {flex: 1 1 0;}
.searchArea .btnSmall {min-width: 100px;}
.searchArea .btnMedium {min-width: 200px;}

.cusTomBoxWrap.type01 {display: flex;}

.cusTomBoxWrap.type01 .cusTomBox + .cusTomBox {padding-left: 20px;}
.cusTomBoxWrap.type01 .cusTomBox .unitBox {width: 100%;}
.cusTomBoxWrap.type01 .cusTomBox .unitBox ul {margin-bottom: 15px;border-top: 6px solid #ddd;border-radius: 3px;box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2);}  
.cusTomBoxWrap.type01 .cusTomBox.bdCGreen .unitBox ul {border-color: #2cbbb7;}
.cusTomBoxWrap.type01 .cusTomBox.bdCBlue .unitBox ul {border-color: #499ed5;}
.cusTomBoxWrap.type01 .cusTomBox ul {display: flex;padding-left: 0px;padding: 36px 0px;}
.cusTomBoxWrap.type01 .cusTomBox ul li {position: relative;}
.cusTomBoxWrap.type01 .cusTomBox ul li + li::before {content: '';display: block;position: absolute;top: 50%;left: 0px;width: 1px;height: 120px;margin-top: -60px;background: #dddddd;}
.cusTomBoxWrap .grid2 ul li {flex: 0 0 50%;width: 50%;}
.cusTomBoxWrap .grid4 ul li {flex: 0 0 25%;width: 25%;}
.cusTomBoxWrap.type01 .titArea {margin-bottom: 5px;}
.cusTomBoxWrap.type01 .titArea .tit {line-height: 37px;font-size: 18px;color: #0c323d;font-weight: 400;}
.cusTomBoxWrap.type01 .iconWrap .project_icon {display: inline-block;width: 40px;height: 40px;background: url(../assets/images/ico_project.png) no-repeat;background-size: 240px auto;background-position: 0 0;}
.cusTomBoxWrap.type01 .iconWrap .project_icon.type02 {background-position: -40px 0;}
.cusTomBoxWrap.type01 .iconWrap .project_icon.type03 {background-position: -80px 0;}
.cusTomBoxWrap.type01 .iconWrap .project_icon.type04 {background-position: -120px 0;}
.cusTomBoxWrap.type01 .iconWrap .project_icon.type05 {background-position: -160px 0;}
.cusTomBoxWrap.type01 .iconWrap .project_icon.type06 {background-position: -200px 0;}
.cusTomBoxWrap.type01 .numWrap .num {display: inline-block;padding: 7px 0px;line-height: 50px;font-size: 44px;font-weight: 600;}
.cusTomBoxWrap.type01 .cusTomBox.bdCGreen .numWrap .num {color: #2cbbb7;}
.cusTomBoxWrap.type01 .cusTomBox.bdCBlue .numWrap .num {color: #499ed5;}
.cusTomBoxWrap.type01 .listTitWrap .listTit {line-height: 21px;font-size: 17px;color: #48656d;}
.cusTomBoxWrap.type01 .listTitWrap .listTit em {font-size: 15px;color: #9cacb1;}