/* charBox */
.chartBox {border: 1px solid #dddddd;}
.btnArea .amountTxt {line-height: 50px;vertical-align: top;}
.rowBoxBtnArea button + button {margin-left: 5px;}

.plusCon {display: flex;}
.plusCon.alignSelfT {align-self: flex-start;}
.plusCon .customSelectWrap + .btnArea {margin-left: 5px;}

.searchArea {padding: 0px 170px;}
.searchArea.type02 {flex: 0 0 50%;width: 50%;padding: 0px;}
.searchArea input.customInp {flex: 1 1 0;}
.searchArea .btnSmall {min-width: 100px;}
.searchArea .btnSmallMedium {min-width: 140px;}
.searchArea .btnMedium {min-width: 200px;}

.rowTable table + .contentTxtWrap {padding: 20px;min-height: 240px;}
.contentTxtWrap {border-bottom: 1px solid #eeeeee;}
.contentTxtWrap .contentTxtBox span {line-height: 24px;font-size: 15px;color: #0c323d;}

.unitGroup + .unitGroup {margin-top: 30px;}
.unitGroup.flexBox.col2 .unit + .unit {margin-top: 0px;}
.unitGroup.flexBox.col2 dl {flex: 0 0  calc(50% - 2.5px);}
.unitGroup.flexBox.col2 dl:first-child {margin-right: 2.5px;}
.unitGroup.flexBox.col2 dl:last-child {margin-left: 2.5px;}

.titArea + .inpWrap {margin-top: 20px;}
.inpWrap {display: flex;align-items: center;margin-bottom: 20px;}
.inpWrap.percentW .inp {width: 100%;}
.inpWrap .inpBox + .inpBox,
.inpWrap .inpBox + .btnArea {margin-left: 5px;}
.inpWrap .inpBox .inp + .fileUpload {margin-left: 5px;}
.inpWrap .inpBox.fileUploadBox .inp {width: calc(100% - 55px);}
.inpWrap .btnArea button + button {margin-left: 5px;}
.inpWrap .inp {width: 240px;}
.inpWrap .inpTit {display: block;line-height: 36px;font-size: 15px;color: #667d85;text-align: left;}
.customOption option {color: #a0b0b6;}


.rowTable + .cusTomBoxWrap {padding-top: 40px;}
.cusTomBoxWrap.type01 {display: flex;}
.cusTomBoxWrap.type01 .cusTomBox + .cusTomBox {padding-left: 20px;}
.cusTomBoxWrap.type01 .cusTomBox + .cusTomBox.gridBox {padding-left: 0px;}
.cusTomBoxWrap.type01 .cusTomBox .unitBox {width: 100%;}
.cusTomBoxWrap.type01 .cusTomBox .unitBox ul {margin-bottom: 15px;border-top: 6px solid #ddd;border-radius: 3px;box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2);}  
.cusTomBoxWrap.type01 .cusTomBox.bdCGreen .unitBox ul {border-color: #2cbbb7;}
.cusTomBoxWrap.type01 .cusTomBox.darkBdCGreen .unitBox ul {border-color: #3dae92;}
.cusTomBoxWrap.type01 .cusTomBox.bdCBlue .unitBox ul {border-color: #499ed5;}
.cusTomBoxWrap.type01 .cusTomBox.darkBdCBlue .unitBox ul {border-color: #397fd4;}
.cusTomBoxWrap.type01 .cusTomBox ul {display: flex;padding-left: 0px;padding: 36px 0px;}
.cusTomBoxWrap.type01 .cusTomBox ul li {position: relative;}
.cusTomBoxWrap.type01 .cusTomBox ul li + li::before {content: '';display: block;position: absolute;top: 50%;left: 0px;width: 1px;height: 120px;margin-top: -60px;background: #dddddd;}
.cusTomBoxWrap ul li {flex: 0 0  100%;width: 100%;}
.cusTomBoxWrap .grid2 ul li {flex: 0 0 50%;width: 50%;}
.cusTomBoxWrap .grid4 ul li {flex: 0 0 25%;width: 25%;}

.cusTomBoxWrap.type01 .titArea {margin-bottom: 5px;}
.cusTomBoxWrap.type01 .titArea .tit {line-height: 37px;font-size: 18px;color: #0c323d;font-weight: 400;}
.cusTomBoxWrap.type01 .iconWrap .project_icon {display: inline-block;width: 40px;height: 40px;background: url(../assets/images/ico_project.png) no-repeat;background-size: 240px auto;background-position: 0 0;}
.cusTomBoxWrap.type01 .iconWrap .project_icon.type02 {background-position: -40px 0;}
.cusTomBoxWrap.type01 .iconWrap .project_icon.type03 {background-position: -80px 0;}
.cusTomBoxWrap.type01 .iconWrap .project_icon.type04 {background-position: -120px 0;}
.cusTomBoxWrap.type01 .iconWrap .project_icon.type05 {background-position: -160px 0;}
.cusTomBoxWrap.type01 .iconWrap .project_icon.type06 {background-position: -200px 0;}
.cusTomBoxWrap.type01 .numWrap .num {display: inline-block;padding: 7px 0px;line-height: 50px;font-size: 44px;font-weight: 600;}
.cusTomBoxWrap.type01 .cusTomBox.bdCGreen .numWrap .num,
.cusTomBoxWrap .cusTomBox.bdCGreen .chratInfo .num {color: #2cbbb7;}
.cusTomBoxWrap.type01 .cusTomBox.darkBdCGreen .numWrap .num,
.cusTomBoxWrap .cusTomBox.darkBdCGreen .chratInfo .num {color: #3dae92;}
.cusTomBoxWrap.type01 .cusTomBox.bdCBlue .numWrap .num,
.cusTomBoxWrap .cusTomBox.bdCBlue .chratInfo .num {color: #499ed5;}
.cusTomBoxWrap.type01 .cusTomBox.darkBdCBlue .numWrap .num,
.cusTomBoxWrap .cusTomBox.darkBdCBlue .chratInfo .num {color: #397fd4;}
.cusTomBoxWrap.type01 .listTitWrap .listTit {line-height: 21px;font-size: 17px;color: #48656d;}
.cusTomBoxWrap.type01 .listTitWrap .listTit em {font-size: 15px;color: #9cacb1;}
.cusTomBoxWrap .chartWrap {margin: 15px 0px;padding: 0px 40px;}
.cusTomBoxWrap .chratInfo {font-size: 15px;color: #0c323d;}
.cusTomBoxWrap .chratInfo .num {font-size: 30px;}
.cusTomBoxWrap .chratInfo em {color: #9cacb1;}

.sorceViewTitWrap {height: 50px;line-height: 50px;font-size: 15px;color: #667d85;text-align: left;}
.sorceViewWrap {height: 500px;overflow-y: auto;}

.containSubInfoWrap {position: absolute;bottom: 0;left: 0;display: flex;align-items: center;justify-content: center;width: 100%;padding: 15px 0px;background: #f4f4f4;}
.containSubInfoWrap .subInfoTxt {display: inline-block;margin-right: 20px;font-size: 14px;color: #397fd4;}

.tpArea + .flexBox {margin-top: 10px;}
.flexBox {display: flex;align-items: center;}
.unitBox.w100p .flexBox {width: 1320px;margin: 0 auto;}
.flexBox.justifyContent {justify-content: space-between;}
.flexBox.flexEnd {justify-content: flex-end;}
.flexBox.tableButtonWrap button + button {margin-left: 5px;}

.titArea + .listSelctWrap {margin-top: 5px;}
.listSelctWrap .w33p {width: 33.3% !important;}
.listSelctWrap ul.listSelets {display: flex;padding-left: 0px;}
.listSelctWrap ul li {display: flex;align-items: center;justify-content: center;}
.listSelctWrap ul li .imgBox {margin-right: 40px;}
.listSelctWrap ul li .selcteInfoBox {display: block;width: 100%;padding: 40px 50px;border: 1px solid #dddddd;border-right-width: 0px;}
.listSelctWrap ul li:last-child .selcteInfoBox {border-right-width: 1px;}
.listSelctWrap ul li .selcteInfoBox > * {display: block;text-align: left;}
.listSelctWrap ul li .selcteInfoBox .tit {line-height: 44px;font-size: 25px;font-weight: 600;color: #0c323d;}
.listSelctWrap ul li .selcteInfoBox .tit em {font-size: 18px;color: #2cbbb7;font-style: italic;font-weight: 500;}
.listSelctWrap ul li .selcteInfoBox .txt {line-height: 24px;font-size: 15px;color: #667d85;letter-spacing: -1px;}

.listSelctWrap.type01 ul li .selcteInfoBox {display: flex;align-items: center;justify-content: center;}
.listSelctWrap.type01 ul li .selcteInfoBox .txtBox span {display: block;}

.listSelctWrap.type02 ul li .selcteInfoBox {padding-top: 20px;padding-bottom: 30px;}
.listSelctWrap.type02 .selcteInfoBox .tit {margin-bottom: 20px;text-align: center;}
.listSelctWrap.type02 .selcteInfoBox .txtWrap {display: flex;align-items: center;justify-content: space-between;}
.listSelctWrap.type02 .selcteInfoBox .txtWrap .txt {display: flex;align-items: center;justify-content: center;width: 50%;flex: 0 0 50%;color: #0c323d;}
.listSelctWrap.type02 .selcteInfoBox .txtWrap .txt + .txt {position: relative;}
.listSelctWrap.type02 .selcteInfoBox .txtWrap .txt + .txt::before {content: '';position: absolute;top: 50%;left: 0px;width: 2px;height: 14px;margin-top: -7px;background: #dddddd;}
.listSelctWrap.type02 .selcteInfoBox .txtWrap .txt em {color: #667d85;}
.listSelctWrap.type02 .selcteInfoBox .txtWrap .txt em.num {display: inline-block;margin-left: 10px;line-height: 40px;font-size: 32px;color: #898989;}

.listSelctWrap ul li input[type=radio]:checked + label {border: 2px solid #2cbbb7;}
.listSelctWrap ul li:last-child input[type=radio]:checked + label {border-right-width: 2px;}
.listSelctWrap ul li input[type=radio]:checked + label .txtWrap .txt em.num {color: #3dae92;}
.listSelctWrap ul li input[type=radio]:checked + label .txtWrap .txt + .txt em.num {color: #397fd4;}

.logContainer {overflow: auto;}
.logContainer .logBox {padding: 30px;}
.logContainer .logBox .logTxt {display: block;color: #ffffff;font-size: 14px;text-align-last: left;}

/* Aidu List */
.aiduList ul {padding-left: 0px !important;}
.aiduList .aiduListWrap {display: flex;align-items: center;}
.aiduList .aiduListWrap .imgBox {display: flex;flex: 0 0 200px;width: 200px;align-items: center;justify-content: center;}
.aiduList .aiduListWrap .imgBox img {width: 100%;}
.aiduList .aiduListWrap .contentBox {flex: 0 0 calc(100% - 200px);width: calc(100% - 200px);padding-left: 30px;}
.aiduList .aiduListWrap .contentBox .titWrap {display: flex;align-items: center;justify-content: space-between;}
.aiduList .aiduListWrap .contentBox .titWrap .tit {display: inline-block;overflow: hidden;width: calc(100% - 100px);font-weight: 500;text-align: left;color: #0c323d;white-space: nowrap;text-overflow: ellipsis;}
.aiduList .aiduListWrap .titWrap .tit.new {position: relative;}
.aiduList .aiduListWrap .titWrap .tit.new:after {content: '';position: absolute;top: 50%;right: 0px;background: url(../assets/images/ico_new.png) no-repeat;}
.aiduList .aiduListWrap .hashTagWrap ul {display: flex;align-items: center;justify-content: flex-start;}
.aiduList .aiduListWrap .hashTagWrap ul li + li {margin-left: 4px;}
.aiduList .aiduListWrap .hashTagWrap ul li a {display: inline-block;line-height: 20px;font-size: 14px;color: #397fd4;}
.aiduList .aiduListWrap .contentBox .subInfoWrap {display: flex;align-items: center;}
.aiduList .aiduListWrap .contentBox .subInfo {display: inline-flex;align-items: center;}
.aiduList .aiduListWrap .contentBox .subInfo.user {margin-right: 80px;margin-left: -6px;}
.aiduList .aiduListWrap .contentBox .subInfo.devel {margin-left: 70px;margin-right: 0px;}
.aiduList .aiduListWrap .contentBox .subInfoWrap .subInfo.user span {font-size: 17px;color: #667d85;font-weight: 500;}
.aiduList .aiduListWrap .contentBox .subInfoWrap .subInfo span {line-height: 30px;font-size: 16px;color: #48656d;}
.aiduList .aiduListWrap .contentBox .subInfoWrap .subInfo:not(.user) span {margin: 0px 10px;}
.aiduList .aiduListWrap .contentBox .otherWrap {display: flex;align-items: center;justify-content: space-between;}
.aiduList .aiduListWrap .contentBox .otherWrap .dateWrap span {position: relative;display: inline-block;font-size: 16px;color: #9cacb1;}
.aiduList .aiduListWrap .contentBox .otherWrap .dateWrap span + span {padding-left: 20px;}
.aiduList .aiduListWrap .contentBox .otherWrap .dateWrap span + span::before {content: '';display: block;position: absolute;top: 50%;left: 11px;width: 1px;height: 10px;margin-top: -5px;background: #c9d1d3;}

.aiduList.type01 ul li {padding: 20px;border-bottom: 1px solid #dddddd;}
.aiduList.type01 .aiduListWrap .contentBox {padding-right: 20px;}
.aiduList.type01 .aiduListWrap .contentBox .titWrap .tit {line-height: 30px;font-size: 25px;}
.aiduList.type01 .aiduListWrap .contentBox .subInfoWrap {padding: 10px 0px;justify-content: flex-start;}
.aiduList.type01 .aiduListWrap .contentBox .otherWrap {margin-top: 15px;padding: 10px 0px;}

.aiduList.type02 .aiduListWrap {flex-wrap: wrap;padding-bottom: 16px;}
.aiduList.type02 > ul > li {border-radius: 3px;background: #ffffff;box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2);border: 1px solid #ffffff;}
.aiduList.type02 > ul > li:hover {border: 1px solid #2cbbb7;}
.aiduList.type02.col4 > ul > li {flex: 0 0 23.5%;width: 23.5%;margin-right: 2%;padding: 20px;}  
.aiduList.type02.col4 > ul > li:nth-child(n+5) {margin-top: 2%;}
.aiduList.type02.col4 > ul > li:nth-child(4n) {margin-right: 0px;}
.aiduList.type02 .aiduListWrap .contentBox {flex: 0 0 100%;width: 100%;padding-left: 0;}
.aiduList.type02 .modelTopArea {display: flex;padding-bottom: 10px;justify-content: space-between;align-items: center;}
.aiduList.type02 .modelTopArea .btnArea > * {vertical-align: top;}
.aiduList.type02 .modelTopArea .btnArea > * + * {margin-left: 10px;}
.aiduList.type02 .modelTopArea i {width: 20px;height: 20px;background-size: 20px auto;background-position: center;}
.aiduList.type02 .modelTopArea .favoritesBtn {width: 20px;height: 20px;background-size: 40px auto;background-position: 0 0;opacity: 0.5;}
.aiduList.type02 .modelTopArea .favoritesBtn.active {background-position: -20px 0;opacity: 1;}
.aiduList.type02 .imgBox {width: 100%;height: 165px;margin-bottom: 20px;border: 1px solid #dddddd;}
.aiduList.type02 .imgBox.certified {position: relative;}
.aiduList.type02 .imgBox.certified:before {content: '';display: block;position: absolute;bottom: -10px;left: -10px;width: 58px;height: 58px;background: url(../assets/images/ico_certified.png) no-repeat;background-size: 58px auto;}
.aiduList.type02 .aiduListWrap .contentBox .titWrap {justify-content: center;margin-bottom: 20px;}
.aiduList.type02 .aiduListWrap .contentBox .titWrap .tit {max-width: 100%;width: auto;line-height: 30px;font-size: 20px;font-weight: 600;}
.aiduList.type02 .aiduListWrap .contentBox .titWrap .tit.new {padding-right: 25px;}
.aiduList.type02 .aiduListWrap .contentBox .titWrap .tit.new:after {width: 20px;height: 20px;margin-top: -10px;}
.aiduList.type02 .aiduListWrap .hashTagWrap ul {justify-content: center;padding-bottom: 10px;}
.aiduList.type02 .aiduListWrap .contentBox .subInfoWrap {justify-content: center;margin-bottom: 10px;padding-bottom: 20px;border-bottom: 1px solid #dddddd;}
.aiduList.type02 .aiduListWrap .contentBox .subInfoWrap .subInfo span {font-size: 14px;color: #0c323d;}
.aiduList.type02 .aiduListWrap .contentBox .subInfo.user span {font-size: 16px;color: #48656d;}
.aiduList.type02 .aiduListWrap .contentBox .otherWrap .dateWrap span {font-size: 15px;}

/* Aidu List Detail */
.aiduListdetail + * {margin-top: 20px;}
.aiduListdetail .detailWrap {display: flex;align-items: center;justify-content: space-between;}
.aiduListdetail .detailWrap .imgBox {display: inline-flex;align-items: center;flex: 0 0 275px;width: 275px;margin-right: 40px;}
.aiduListdetail .detailWrap .imgBox img {width: 100%;}
.aiduListdetail .detailWrap .contentBox {flex: 0 0 calc(100% - 315px);width: calc(100% - 315px);}
.aiduListdetail .detailWrap .contentBox .badgeWrap {text-align: left;}
.aiduListdetail .detailWrap .contentBox .titWrap {display: flex;align-items: center;justify-content: space-between;padding: 10px 0px;}
.aiduListdetail .detailWrap .contentBox .titWrap .tit {flex: 0 0 calc(100% - 150px);width: calc(100% - 175px);overflow: hidden;line-height: 50px;font-size: 28px;font-weight: 500;color: #0c323d;white-space: nowrap;text-overflow: ellipsis;}
.aiduListdetail .detailWrap .contentBox .titWrap .btnArea {flex: 0 0 70px;width: 70px;}
.aiduListdetail .detailWrap .contentBox .detailInfoWrap {display: flex;align-items: center;justify-content: flex-start;padding-bottom: 10px;}
.aiduListdetail .detailWrap .contentBox .detailInfoWrap > div {display: inline-flex;align-items: center;justify-content: flex-start;}
.aiduListdetail .detailWrap .contentBox .detailInfoWrap span {line-height: 30px;font-size: 16px;color: #48656d;}
.aiduListdetail .detailWrap .contentBox .detailInfoWrap .userInfo {margin-left: -6px;}
.aiduListdetail .detailWrap .contentBox .detailInfoWrap .userInfo .contentInfoTxt {font-size: 17px;font-weight: 500;color: #48656d;}
.aiduListdetail .detailWrap .contentBox .detailInfoWrap .contentInfoWrap {padding: 0px 140px 0px 70px;}
.aiduListdetail .detailWrap .contentBox .detailInfoWrap .contentInfoWrap > span + span {margin-left: 15px;}
.aiduListdetail .detailWrap .contentBox .otherWrap {display: flex;align-items: center;justify-content: space-between;}
.aiduListdetail .detailWrap .contentBox .otherWrap .hashTagWrap {display: inline-flex;align-items: center;justify-content: flex-start;padding: 0px;}
.aiduListdetail .detailWrap .contentBox .otherWrap .hashTagWrap li a {font-size: 16px;color: #397fd4;}
.aiduListdetail .detailWrap .contentBox .otherWrap .hashTagWrap li + li a {padding-left: 10px;}
.aiduListdetail .detailWrap .contentBox .otherWrap .dateWrap span {font-size: 16px;color: #9cacb1;}

/* Favorites button */
.favoritesBtn {display: inline-block;width: 30px;height: 30px;background: url('../assets/images/ico_favorites.png') no-repeat;background-size: 60px auto;background-position: 0 0;}
.favoritesBtn.active {background-position: -30px 0;}
.likelyBtn {display: inline-block;width: 30px;height: 30px;background: url('../assets/images/ico_likely.png') no-repeat;background-size: 60px auto;background-position: 0 0;}
.likelyBtn.active,
.favoritesBtn.active {background-position: -30px 0;}
.likelyBtn + .favoritesBtn {margin-left: 10px;}

/* sub info Icon */
.subIcon {display: inline-block;width: 30px;height: 30px;background: url('../assets/images/ico_subInfo.png') no-repeat;background-size: 120px auto;}
.subIcon.type01 {background-position: 0 0;}
.subIcon.type02 {background-position: -30px 0;}
.subIcon.type03 {background-position: -60px 0;}
.subIcon.type04 {background-position: -90px 0;}

/* model badge */
.badgeWrap .modelBadge {display: inline-block;padding: 0px 20px;line-height: 32px;font-size: 15px;border-radius: 5px;}
.modelBadge + .modelBadge {margin-left: 5px;}
.modelBadge.type01 {background: #fff4e1;color: #f8a510;} 
.modelBadge.type02 {background: #ebf2fa;color: #397fd4;}
.modelBadge.type03 {background: #ebf5f4;color: #3dae92;}
.modelBadge.type04 {background: #f7f1f8;color: #a956cc;}
.modelBadge.type05 {background: #feeded;color: #e36464;}
.modelBadge.type06 {background: #edf5eb;color: #58a049;}
.modelBadge.type07 {background: #eeedfa;color: #6464bb;}
.modelBadge.type08 {background: #f4f4f4;color: #8e8d8d;}
.modelBadge.type09 {padding: 0px 15px;background: #daedeb;color: #3dae92;font-weight: 600;}
.modelBadge.type10 {padding: 0px 15px;background: #c8e2f2;color: #499ed5;font-weight: 600;}
.modelBadge.type11 {padding: 0px 15px;background: #c3d8f2;color: #397fd4;font-weight: 600;}

/* file progress bar */
.fileProBarWrap {position: relative;width: 100px;height: 6px;overflow: hidden;background: #e7f0f0;border-radius: 3px;}
.fileProBarWrap .progressBar {position: absolute;top: 0;left: 0;width: 0%;height: 6px;background: #2cbbb7;transition: all ease-in-out 1s;}

/* talbe file */
.tableFileUpWrap {display: inline-flex;align-items: center;}
.tableFileUpWrap .fileName {display: inline-block;padding: 0px 10px;font-size: 15px;color: #667d85;}
.fileDelete {width:20px; min-width: auto; height:20px; padding: 0px; border-radius:50%; padding:0; position:relative; margin-left:8px;}
.fileDelete .text {font-size: 0;}
.fileDelete:before{content:""; display:block; width:10px; height:10px; background:url(../assets/images/ico_fileDelete.png) no-repeat 0 0; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
.tableFileUpWrap + .fileAlertTxt {display: block;margin-top: 10px;line-height: 20px;font-size: 14px;color: #397fd4;}

/* list number */
.listNumWrap .listNum {font-size: 17px;color: #0c323d;}
.listNum + .btnArea {margin-left: 10px;}

/* list table button */
.btnArea button.w100px {min-width: 100px;}

/* icon */
.lockIcon {display: inline-block;width: 20px;height: 20px;background: url(../assets/images/ico_lock.png) no-repeat center center;}
.jupyterIcon {display: inline-block;background: url(../assets/images/ico_s_jupyter.png) no-repeat;}

/* board */
.boardReTxt {padding-left: 20px;}
.amountTxt {font-size: 18px;color: #0c323d;}

/* directory */
.directory {display: inline-flex;align-items: center;padding-left: 0px !important;}
.directory .fileTit {padding-right: 10px;}
.directory li a {color: #397fd4 !important;}
.directory li:not(.fileTit) + li::before {content: '/';width: 6px;text-align: center;}

/* Inp Btn Wrap */
.inpBtnWrap {display: flex;align-items: center;height: 50px;padding: 0px 13px;line-height: 48px;border: 1px solid #dddddd;border-radius: 2px;}
.inpBtnWrap .placeHolder {font-size: 15px;color:#a0b0b6;}
.inpBtnWrap .v-chip + .v-chip {margin-left: 10px;}
.inpBtnWrap .v-chip,
.inpBtnWrap .theme--light.v-chip:not(.v-chip--active) {border-color: #2cbbb7;background: #2cbbb7;color: #ffffff;}
.inpBtnWrap .v-chip:hover,
.inpBtnWrap .theme--light.v-chip:not(.v-chip--active):hover {border-color: #239692;background: #239692;color: #ffffff;}
.theme--light.v-chip:not(.v-chip--active):hover > *,
.theme--light.v-chip:not(.v-chip--active):focus > *{animation:btnHover-sliderTop 0.2s ease-out 0s 1 alternate;}