@charset "UTF-8";

@import url("reset.css");
@import url("common.css");
@import url("style_01.css");

/* point color */
.pColor01{color:#397fd4 !important;}


/* row title 폰트의 tit 의 폰트 사이즈가 2개 반영해야함. */
.titArea{display:flex; justify-content:space-between; align-items:center; min-height:36px;}
.titArea .tit{font-size:24px; color:#0c323d;}
.titArea .tit > em{margin-left:8px; font-size:15px; color:#9cacb1;}
.titArea p {margin: 0;padding: 0;}	
.titArea.type01 {display: block;text-align: center;padding: 60px 0 30px;}	
.titArea.type01 .tit {line-height: 58px;font-size: 40px;padding-bottom: 10px;}	
.titArea.type01 .subTit {line-height: 42px;font-size: 22px;color: #9cacb1;}

/* table 바로 상단*/
.titArea + .tpArea{margin-top:20px;}
.tpArea{display:flex; justify-content:space-between; align-items:center; min-height:24px;}
.tpArea .tit{font-size:15px; color:#667d85;}

/* layer 관련  */
.layerModalWrap .listTable thead th{height:50px; font-size:15px; padding:5px;}
.layerModalWrap .listTable tbody tr > *{height:39px; font-size:14px;}

/* input 관련 */
.unitGroup{overflow:hidden;}
.unitGroup .unit{text-align:left;}
.unitGroup .unit + .unit{margin-top:30px;}
.unitGroup .unit dt{font-size:17px; color:#0c323d; font-weight:500; margin-bottom:10px;}

/* search area, inpGroup */
.searchArea,
.inpGroup{display:flex; align-items:center;}
.searchArea > .inp,
.inpGroup > .inp{width:100%;}
.searchArea > *,
.inpGroup > *{display:inline-flex;}
.searchArea .btnArea,
.inpGroup .btnArea{margin-left:8px;}
.searchArea .btnArea button + button{margin-left:4px;}
.inpGroup button{min-width:100px; padding:0 26px;}

p.text{font-size:16px; line-height:20px; overflow:hidden; word-break:break-all; color:#667d85; text-align:left;}